<!DOCTYPE html>
<html>
  <head>
    <title>RailsLongestWordGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <div id="navbar">
    <div><%= link_to "voir la page home", home_path %></div>
    <div><%= link_to "voir la page new", new_path %></div>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
